*{
	margin:0;
	padding:0;
}
p{
    font-size:16px;
}
//div
div{
    width:100px;
    height:100px;
    p{
        line-height:100px;
        font-size:16px;
        color:red;
        a{
            display:block;
            line-height:100px;
        }
        span{
            position:relative;
            left:0;
            top:0;
        }
    }
}
